<div class="bg-wrapper">
  <div class="weather container">
    <div class="weather__info">
      <h2 class="weather__info__location">Montreal</h2>
      <h1 class="weather__info__temp">19°</h1>
      <div class="weather__meta-data">
        <div class="weather__meta-data__status">Mostly Clear</div>
        <div class="weather__meta-data__detail">
          <span class="weather__meta-data__detail__datum">H:24°</span>
          <span class="weather__meta-data__detail__datum">L:18°</span>
        </div>
      </div>
    </div>
    <img
      class="weather__image"
      src="../../../assets/House.png"
      width="390"
      height="390"
      alt=""
    />
  </div>
</div>
